---
---

hr {
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr::before {
    content: '***';
    display: block;
    text-align: center;
} 

figcaption {
  text-align: center;
}
